In [ ]:
# from pyspark.sql.functions import current_timestamp, substring, translate, col

# def EnrichData(df):
#     df = df.withColumn("current_time", current_timestamp())

#     df = df.withColumn('tech_year', substring('current_time', 1,4)) \
#         .withColumn('tech_month', substring('current_time', 1,7)) \
#         .withColumn('tech_day', substring('current_time', 1,10)) \
#         .withColumn('file_horodate', translate(col("current_time"), "[- :.]", ""))
#     return df

# def HorodateFile(df):
#     enriched_df = EnrichData(df)
#     return enriched_df.first()["file_horodate"]

# print(HorodateFile(df1))

In [ ]:
# schema = StructType([       
#     StructField('id', StringType(), True),
#     StructField('aircraft_age', StringType(), True),
#     StructField('aircraft_code', StringType(), True),
#     StructField('aircraft_country_id', StringType(), True),
#     StructField('aircraft_history', StringType(), True),
#     StructField('aircraft_model', StringType(), True),
#     StructField('distance', StringType(), True),
#     StructField('time', StringType(), True),
#     StructField('time_details', StringType(), True),
#     StructField('airline_name', StringType(), True),
#     StructField('airline_short_name', StringType(), True),
#     StructField('airline_iata', StringType(), True),
#     StructField('airline_icao', StringType(), True),
#     StructField('registration', StringType(), True),
#     StructField('status_text', StringType(), True),
#     StructField('origin_airport_name', StringType(), True),
#     StructField('origin_airport_country_code', StringType(), True),
#     StructField('origin_airport_country_name', StringType(), True),
#     StructField('origin_airport_visible', StringType(), True),
#     StructField('destination_airport_name', StringType(), True),
#     StructField('destination_airport_country_code', StringType(), True),
#     StructField('destination_airport_country_name', StringType(), True),
#     StructField('destination_airport_visible', StringType(), True)
# ])


# df1 = spark.read.format("csv")\
#           .schema(schema) \
#           .option("delimiter", ",")\
#           .load("C:\\Users\\SMARPOINT\\Desktop\\sampleFlightRadar.csv")

In [ ]:
# import csv

# with open('sampleFlightRadar.csv', 'a', newline='') as file:
#     writer = csv.writer(file)
#     writer.writerows(df_details_with_distance)

In [1]:
# pip install pyspark
!pip install findspark

Requirement already satisfied: findspark in c:\users\smarpoint\anaconda3\lib\site-packages (2.0.1)

In [2]:
#import pandas as pd
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType
import pyspark
import findspark
findspark.init()
findspark.find()

'C:\\Users\\SMARPOINT\\anaconda3\\Lib\\site-packages\\pyspark'

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").appName("cmw_flight_radar").getOrCreate()

In [4]:
!pip install FlightRadarAPI

Requirement already satisfied: FlightRadarAPI in c:\users\smarpoint\anaconda3\lib\site-packages (1.3.10)
Requirement already satisfied: brotli in c:\users\smarpoint\anaconda3\lib\site-packages (from FlightRadarAPI) (1.1.0)
Requirement already satisfied: requests in c:\users\smarpoint\anaconda3\lib\site-packages (from FlightRadarAPI) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\smarpoint\anaconda3\lib\site-packages (from requests->FlightRadarAPI) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\smarpoint\anaconda3\lib\site-packages (from requests->FlightRadarAPI) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\smarpoint\anaconda3\lib\site-packages (from requests->FlightRadarAPI) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\smarpoint\anaconda3\lib\site-packages (from requests->FlightRadarAPI) (2023.7.22)

In [5]:
from FlightRadar24 import FlightRadar24API
fr_api = FlightRadar24API()

## ---------------------------------------||||||||-------------------------------- ##

## GET FLIGHTS
#### columns:  Aircraft ICAO .  REGISTRATION - Altitude - Ground Speed - heading=direction

In [11]:
# flight.get_distance_from(fr_api.get_airport(flight.origin_airport_country_code)),

df_details_with_distance = [] # Cette liste vide va contenir toutes les informations nécessaires pour faire les analyses
for flight in fr_api.get_flights():
    try :
        details = fr_api.get_flight_details(flight.id)
        flight.set_flight_details(details)
        
        code = flight.origin_airport_iata
        
        if(code!='N/A'):
            airport = fr_api.get_airport(code)

            df_details_with_distance.append((
                flight.id,
                flight.aircraft_age,
                flight.aircraft_code,
                flight.aircraft_country_id,
                flight.aircraft_history,
                flight.aircraft_model,
                flight.get_distance_from(airport),
                flight.time,
                flight.time_details,
                flight.airline_name, 
                flight.airline_short_name, 
                flight.airline_iata, 
                flight.airline_icao,
                flight.registration,
                flight.status_text, 
                flight.origin_airport_name,
                flight.origin_airport_country_code,
                flight.origin_airport_country_name,
                flight.origin_airport_visible,
                flight.destination_airport_name,
                flight.destination_airport_country_code,
                flight.destination_airport_country_name,
                flight.destination_airport_visible
                )
            )
            
        else:
            df_details_with_distance.append((
                flight.id,
                flight.aircraft_age,
                flight.aircraft_code,
                flight.aircraft_country_id,
                flight.aircraft_history,
                flight.aircraft_model,
                0.0000,
                flight.time,
                flight.time_details,
                flight.airline_name, 
                flight.airline_short_name, 
                flight.airline_iata, 
                flight.airline_icao,
                flight.registration,
                flight.status_text, 
                flight.origin_airport_name,
                flight.origin_airport_country_code,
                flight.origin_airport_country_name,
                flight.origin_airport_visible,
                flight.destination_airport_name,
                flight.destination_airport_country_code,
                flight.destination_airport_country_name,
                flight.destination_airport_visible
                )
            )
            
    except Exception as e:
        # Gestion des exceptions générales
        print("Une erreur s'est produite :", str(e))

Une erreur s'est produite : An unexpected error has occurred. Perhaps you are making too many calls?
Une erreur s'est produite : An unexpected error has occurred. Perhaps you are making too many calls?
Une erreur s'est produite : ('Connection aborted.', ConnectionResetError(10054, 'Une connexion existante a dû être fermée par l’hôte distant', None, 10054, None))

In [12]:
from pyspark.sql.types import StructType,StructField, StringType

df1_schema = StructType([       
    StructField('id', StringType(), True),
    StructField('aircraft_age', StringType(), True),
    StructField('aircraft_code', StringType(), True),
    StructField('aircraft_country_id', StringType(), True),
    StructField('aircraft_history', StringType(), True),
    StructField('aircraft_model', StringType(), True),
    StructField('distance', StringType(), True),
    StructField('time', StringType(), True),
    StructField('time_details', StringType(), True),
    StructField('airline_name', StringType(), True),
    StructField('airline_short_name', StringType(), True),
    StructField('airline_iata', StringType(), True),
    StructField('airline_icao', StringType(), True),
    StructField('registration', StringType(), True),
    StructField('status_text', StringType(), True),
    StructField('origin_airport_name', StringType(), True),
    StructField('origin_airport_country_code', StringType(), True),
    StructField('origin_airport_country_name', StringType(), True),
    StructField('origin_airport_visible', StringType(), True),
    StructField('destination_airport_name', StringType(), True),
    StructField('destination_airport_country_code', StringType(), True),
    StructField('destination_airport_country_name', StringType(), True),
    StructField('destination_airport_visible', StringType(), True)
])

df1 = spark.createDataFrame(df_details_with_distance, df1_schema)

# GET AIRLINES

In [13]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

airlines = fr_api.get_airlines()

airlines_list= []

for el in airlines:
     airlines_list.append([el['Name'], el['Code'], el['ICAO']])
        

airlines_rdd = spark.sparkContext.parallelize(airlines_list)
        
df_airlines_schema = StructType([
    StructField("Name", StringType(), nullable=True),
    StructField("Code", StringType(), nullable=True),
    StructField("airline_icao", StringType(), nullable=True)
])


df_airlines = spark.createDataFrame(airlines_rdd, df_airlines_schema)

# GET ZONES

In [14]:
zones = fr_api.get_zones()

## GET AIRPORTS

In [15]:
airports = fr_api.get_airports()

airports_list= []

for el in airports:
     airports_list.append([el.name, el.country, el.icao, el.iata, el.latitude, el.longitude, el.altitude])

# Question 1:
#### La compagnie avec le + de vols en cours

##### Only 'Landed' & 'Diverted' flights are actives

In [16]:
df_1 = df1.select("id", 'airline_icao', 'airline_name', 'status_text')
df_1 = df_1.where(df_1.airline_icao != 'N/A') # REMOVE 'N/A' VALUES
df_1.show(5)

+--------+------------+---------------+----------------+
|      id|airline_icao|   airline_name|     status_text|
+--------+------------+---------------+----------------+
|32cb1cdc|         FDX|          FedEx|    Landed 11:38|
|32cb4cb2|         FDX|          FedEx|    Landed 11:55|
|32ce764f|         DAL|Delta Air Lines|Estimated- 08:26|
|32cec82f|         CLX|       Cargolux|   Delayed 13:41|
|32cf174c|         UAL|United Airlines|Estimated- 20:07|
+--------+------------+---------------+----------------+
only showing top 5 rows

In [18]:
from pyspark.sql.functions import split
df_1 = df_1.withColumn('status_text', split(df_1['status_text'], " ").getItem(0))
df_1 = df_1.where((df_1['status_text'] == 'Landed') | (df_1['status_text'] == 'Diverted'))
df_1.show(5, truncate=False)

+--------+------------+----------------------------------------------+-----------+
|id      |airline_icao|airline_name                                  |status_text|
+--------+------------+----------------------------------------------+-----------+
|32cb1cdc|FDX         |FedEx                                         |Landed     |
|32cb4cb2|FDX         |FedEx                                         |Landed     |
|32cf7858|FDX         |FedEx                                         |Landed     |
|32cf99d0|QTR         |Qatar Airways (25 Years of Excellence Sticker)|Landed     |
|32cfa163|FDX         |FedEx                                         |Landed     |
+--------+------------+----------------------------------------------+-----------+
only showing top 5 rows

In [19]:
df_1 = df_1.groupBy("airline_icao").count()
df_1=df_1.withColumnRenamed('count', 'num_flight_per_airline')
df_1.show(5)

+------------+----------------------+
|airline_icao|num_flight_per_airline|
+------------+----------------------+
|         SVA|                     4|
|         NBT|                     1|
|         CLX|                     1|
|         KAL|                     4|
|         CKK|                     1|
+------------+----------------------+
only showing top 5 rows

##### Getting max

In [20]:
df_1 = df_1.sort(df_1.num_flight_per_airline.desc()) # ORDERING DATA

In [21]:
max_airline_flight = df_1.limit(1)

In [22]:
result_1 = df_airlines.where(df_airlines.airline_icao == max_airline_flight.first()['airline_icao'])
result_1.show()

+-----------------+----+------------+
|             Name|Code|airline_icao|
+-----------------+----+------------+
|American Airlines|  AA|         AAL|
+-----------------+----+------------+

# Question 2
##### Pour chaque continent, la compagnie avec le + de vols régionaux actifs (continent d'origine == continent de destination)

In [23]:
pip install a-world-of-countries

Requirement already satisfied: a-world-of-countries in c:\users\smarpoint\anaconda3\lib\site-packages (1.0.0)
Requirement already satisfied: pydash in c:\users\smarpoint\anaconda3\lib\site-packages (from a-world-of-countries) (7.0.6)
Requirement already satisfied: typing-extensions!=4.6.0,>=3.10 in c:\users\smarpoint\anaconda3\lib\site-packages (from pydash->a-world-of-countries) (4.7.1)
Note: you may need to restart the kernel to use updated packages.

In [24]:
import awoc

# Initialize the AWOC class.
my_world = awoc.AWOC()

In [25]:
def retrieveContinent(country:str):
    result = ''
    try:
        result = my_world.get_country_data(country)["Continent Name"]
    except Exception as e:
        result = 'Unknow'
    return result

In [26]:
from pyspark.sql.functions import udf

udf_retrieveContinent = udf(retrieveContinent, StringType())

In [27]:
from pyspark.sql.functions import split
df_2 = df1.select('airline_name', 'status_text', 'origin_airport_country_name','destination_airport_country_name')
df_2 = df_2.filter((df_2.origin_airport_country_name !="N/A") & (df_2.destination_airport_country_name !="N/A"))
df_2 = df_2.withColumn('status_text', split(df_2['status_text'], " ").getItem(0))

##### Only 'Landed' & 'Diverted' flights are actives

In [28]:
df_2 = df_2.where((df_2['status_text'] == 'Landed') | (df_2['status_text'] == 'Diverted'))
df_2.show(5, truncate=False)

+----------------------------------------------+-----------+---------------------------+--------------------------------+
|airline_name                                  |status_text|origin_airport_country_name|destination_airport_country_name|
+----------------------------------------------+-----------+---------------------------+--------------------------------+
|FedEx                                         |Landed     |Taiwan                     |United States                   |
|FedEx                                         |Landed     |South Korea                |United States                   |
|FedEx                                         |Landed     |United States              |United States                   |
|Qatar Airways (25 Years of Excellence Sticker)|Landed     |Qatar                      |Australia                       |
|FedEx                                         |Landed     |China                      |Germany                         |
+----------------------------------------------+-----------+---------------------------+--------------------------------+
only showing top 5 rows

##### adding continent on dataframe

In [30]:
#ADDING CONTINENT IN DATAFRAME
df_2 = df_2.withColumn('origin_continent', udf_retrieveContinent(df_2.origin_airport_country_name))\
            .withColumn('destination_continent', udf_retrieveContinent(df_2.destination_airport_country_name))\
             .select('airline_name', 'status_text', 'origin_continent','destination_continent')

In [31]:
df_2 = df_2.where(df_2['origin_continent'] == df_2['destination_continent'])

In [32]:
df_2 = df_2.drop('origin_continent').withColumnRenamed('destination_continent', 'continent')
df_2.show(5, truncate=False)

+-----------------+-----------+-------------+
|airline_name     |status_text|continent    |
+-----------------+-----------+-------------+
|FedEx            |Landed     |North America|
|American Airlines|Landed     |North America|
|American Airlines|Landed     |North America|
|FedEx            |Landed     |North America|
|FedEx            |Landed     |North America|
+-----------------+-----------+-------------+
only showing top 5 rows

In [33]:
#Remove 'unknow' continent
df_2 = df_2.filter(df_2.continent != "Unknow")

In [34]:
df_2 = df_2.groupBy("continent", "airline_name").count()

In [37]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number, max, col



windowSpecAgg  = Window.partitionBy("continent").orderBy(col("count").desc())

df_2 = df_2.withColumn("max_vol", max(col("count")).over(windowSpecAgg))
df_2.show(5, truncate=False)

+---------+-----------------------+-----+-------+
|continent|airline_name           |count|max_vol|
+---------+-----------------------+-----+-------+
|Africa   |Ethiopian Airlines     |4    |4      |
|Africa   |Asky Airlines          |1    |4      |
|Africa   |South African Airways  |1    |4      |
|Africa   |Airlink                |1    |4      |
|Asia     |China Southern Airlines|7    |7      |
+---------+-----------------------+-----+-------+
only showing top 5 rows

##### compagnie avec le + de vols régionaux actifs par continent

In [38]:
result_2 = df_2.where(df_2["count"] == df_2["max_vol"]).select("continent", "airline_name", "max_vol")
result_2.show(20, truncate=False)

+-------------+------------------------------+-------+
|continent    |airline_name                  |max_vol|
+-------------+------------------------------+-------+
|Africa       |Ethiopian Airlines            |4      |
|Asia         |China Southern Airlines       |7      |
|Europe       |Marabu                        |2      |
|Europe       |Swiss                         |2      |
|Europe       |TUI                           |2      |
|Europe       |Ryanair                       |2      |
|North America|American Airlines             |16     |
|Oceania      |Virgin Australia              |2      |
|South America|Avianca (Star Alliance Livery)|1      |
+-------------+------------------------------+-------+

# Question 3:

##### Le vol en cours avec le trajet le plus long

In [39]:
df_3 = df1.select('id', 'aircraft_code', 'airline_name', 'registration', 'distance')

In [40]:
df_3 = df_3.sort(df_3.distance.desc())

In [41]:
result_3 = df_3.limit(1)
result_3.show()

+--------+-------------+------------+------------+----------------+
|      id|aircraft_code|airline_name|registration|        distance|
+--------+-------------+------------+------------+----------------+
|32cfa5ba|         B77L|    Emirates|      A6-EWE|9999.04271519971|
+--------+-------------+------------+------------+----------------+

# Question 4
##### Pour chaque continent, la longueur de vol moyenne

In [42]:
from pyspark.sql.functions import split
df_4 = df1.select('distance', 'origin_airport_country_name')
df_4 = df_4.filter(df_4.origin_airport_country_name !="N/A")

In [43]:
#ADDING CONTINENT IN DATAFRAME
df_4 = df_4.withColumn('continent', udf_retrieveContinent(df_4.origin_airport_country_name))\
             .select('distance', 'origin_airport_country_name','continent')

In [45]:
#Remove 'unknow' continent
df_4 = df_4.filter(df_4.continent != "Unknow")
df_4.show(5)

+------------------+---------------------------+-------------+
|          distance|origin_airport_country_name|    continent|
+------------------+---------------------------+-------------+
| 7518.696135708595|                     Taiwan|         Asia|
| 6096.792230798888|                South Korea|         Asia|
|12208.283433457806|               South Africa|       Africa|
| 8810.141656786005|                  Hong Kong|         Asia|
|13368.515410874199|              United States|North America|
+------------------+---------------------------+-------------+
only showing top 5 rows

In [46]:
from pyspark.sql.functions import avg
result_4 = df_4.groupBy("continent")\
        .agg(avg("distance").alias("distance_moyenne"))

In [47]:
result_4.show(20)

+-------------+------------------+
|    continent|  distance_moyenne|
+-------------+------------------+
|       Europe|3484.2949200370454|
|       Africa| 4218.629725820359|
|North America| 5353.274076598737|
|South America|  5829.93091361001|
|      Oceania| 6028.701502778182|
|         Asia| 4887.981127528674|
+-------------+------------------+

## Question 5

##### L'entreprise constructeur d'avions avec le plus de vols actifs

In [48]:
df_5 = df1.select('id',
                'aircraft_age',
                'aircraft_code',
                'status_text',
                'aircraft_model')

In [49]:
df_5 = df_5.withColumn('status_text', split(df_5['status_text'], " ").getItem(0))

##### Only 'Landed' & 'Diverted' flights are actives

In [50]:
df_5 = df_5.where((df_5['status_text'] == 'Landed') | (df_5['status_text'] == 'Diverted'))
df_5.show(5)

+--------+------------+-------------+-----------+------------------+
|      id|aircraft_age|aircraft_code|status_text|    aircraft_model|
+--------+------------+-------------+-----------+------------------+
|32cb1cdc|         N/A|         B77L|     Landed|    Boeing 777-FS2|
|32cb4cb2|         N/A|         B77L|     Landed|      Boeing 777-F|
|32cf7858|         N/A|         B77L|     Landed|    Boeing 777-FS2|
|32cf99d0|         N/A|         B77W|     Landed|Boeing 777-3DZ(ER)|
|32cfa163|         N/A|         B77L|     Landed|      Boeing 777-F|
+--------+------------+-------------+-----------+------------------+
only showing top 5 rows

In [51]:
from pyspark.sql.functions import split
df_5 = df_5.withColumn('aircraf_builder', split(df_5['aircraft_model'], " ").getItem(0))
df_5.show(5)

+--------+------------+-------------+-----------+------------------+---------------+
|      id|aircraft_age|aircraft_code|status_text|    aircraft_model|aircraf_builder|
+--------+------------+-------------+-----------+------------------+---------------+
|32cb1cdc|         N/A|         B77L|     Landed|    Boeing 777-FS2|         Boeing|
|32cb4cb2|         N/A|         B77L|     Landed|      Boeing 777-F|         Boeing|
|32cf7858|         N/A|         B77L|     Landed|    Boeing 777-FS2|         Boeing|
|32cf99d0|         N/A|         B77W|     Landed|Boeing 777-3DZ(ER)|         Boeing|
|32cfa163|         N/A|         B77L|     Landed|      Boeing 777-F|         Boeing|
+--------+------------+-------------+-----------+------------------+---------------+
only showing top 5 rows

In [52]:
df_5 = df_5.groupBy('aircraf_builder').count()

In [53]:
df_5 = df_5.withColumnRenamed('count', 'occurence_aircraft_builder')

In [54]:
df_5 = df_5.sort(df_5.occurence_aircraft_builder.desc())
df_5.show(5)

+---------------+--------------------------+
|aircraf_builder|occurence_aircraft_builder|
+---------------+--------------------------+
|         Boeing|                       137|
|         Airbus|                       128|
|        Pilatus|                         2|
|      McDonnell|                         1|
|             De|                         1|
+---------------+--------------------------+
only showing top 5 rows

In [55]:
result_5 = df_5.limit(1)
result_5.show()

+---------------+--------------------------+
|aircraf_builder|occurence_aircraft_builder|
+---------------+--------------------------+
|         Boeing|                       137|
+---------------+--------------------------+

# Question 6

##### Pour chaque pays de compagnie aérienne, le top 3 des modèles d'avion en usage

## Save data

In [56]:
from pyspark.sql.functions import current_timestamp, substring, regexp_replace, translate, col

In [57]:
# ******************************************************************************
result_1 = result_1.withColumn("current_time", current_timestamp())

result_1 = result_1.withColumn('tech_year', substring('current_time', 1,4))\
                              .withColumn('tech_month', substring('current_time', 1,7))\
                              .withColumn('tech_day', substring('current_time', 1,10))\
                              .withColumn('file_horodate', translate(col("current_time"), "[- :.]", ""))
# ******************************************************************************


# ******************************************************************************
result_2 = result_2.withColumn("current_time", current_timestamp())

result_2 = result_2.withColumn('tech_year', substring('current_time', 1,4))\
                              .withColumn('tech_month', substring('current_time', 1,7))\
                              .withColumn('tech_day', substring('current_time', 1,10))\
                              .withColumn('file_horodate', translate(col("current_time"), "[- :.]", ""))
# ******************************************************************************

# ******************************************************************************
result_3 = result_3.withColumn("current_time", current_timestamp())

result_3 = result_3.withColumn('tech_year', substring('current_time', 1,4))\
                              .withColumn('tech_month', substring('current_time', 1,7))\
                              .withColumn('tech_day', substring('current_time', 1,10))\
                              .withColumn('file_horodate', translate(col("current_time"), "[- :.]", ""))
# ******************************************************************************


# ******************************************************************************
result_4 = result_4.withColumn("current_time", current_timestamp())

result_4 = result_4.withColumn('tech_year', substring('current_time', 1,4))\
                              .withColumn('tech_month', substring('current_time', 1,7))\
                              .withColumn('tech_day', substring('current_time', 1,10))\
                              .withColumn('file_horodate', translate(col("current_time"), "[- :.]", ""))
# ******************************************************************************


# ******************************************************************************
result_5 = result_5.withColumn("current_time", current_timestamp())

result_5 = result_5.withColumn('tech_year', substring('current_time', 1,4))\
                              .withColumn('tech_month', substring('current_time', 1,7))\
                              .withColumn('tech_day', substring('current_time', 1,10))\
                              .withColumn('file_horodate', translate(col("current_time"), "[- :.]", ""))
# ******************************************************************************

In [58]:
result_5.show(5, truncate=False)

+---------------+--------------------------+-----------------------+---------+----------+----------+-----------------+
|aircraf_builder|occurence_aircraft_builder|current_time           |tech_year|tech_month|tech_day  |file_horodate    |
+---------------+--------------------------+-----------------------+---------+----------+----------+-----------------+
|Boeing         |137                       |2023-11-13 13:43:06.246|2023     |2023-11   |2023-11-13|20231113134306246|
+---------------+--------------------------+-----------------------+---------+----------+----------+-----------------+

In [ ]:
file_horodate = result_5.first()["file_horodate"]


result_5.write.partitionBy("tech_year", "tech_month", "tech_day").mode('append')\
.format('csv').save("{path}\\flights" + file_file_horodate + ".csv")